* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

/* font-family: 'Roboto', sans-serif; */


.nav-menu {
   display: flex;
   min-height: 80px;
   padding-top: 30px;
   padding-bottom: 30px;
   background: #000;
}

.hidden {
   display: none;
}

.headen-logo {
   width: 25%;
}

.welcome {
   min-height: 660px;
   background: url(../img/welcome-bg.png);
   padding-top: 225px;
   padding-bottom: 245px;
}

.main-white-text {
   text-align: left;
   font-family: 'Roboto', sans-serif;
   font-size: 30px;
   text-transform: uppercase;
   color: #ffe5e5;
}

.text-subline {
   padding-top: 30px;
   text-align: left;
   font-family: 'Roboto', sans-serif;
   font-size: 16px;
   color: #7d7e8c;
}

.container-btn {
   padding-top: 40px;
}

.welcome-btn {
   width: 115px;
   height: 45px;
   margin-right: 15px;
   background: none;
   border: 4px solid white;
   border-radius: 5px;
   font-size: 14px;
   color: #fff;
   text-transform: uppercase;
   cursor: pointer;
}

.welcome-btn:hover {
   background: #39a493;
   border: 4px solid #39a493;
}

.we-are {
   min-height: 610px;
   padding-top: 90px;
   padding-bottom: 100px;
}

.main-tex-black {
   position: relative;
   font-family: 'Roboto', sans-serif;
   font-size: 36px;
   margin-left: 10px;
   color: #3f2a30;
   text-transform: uppercase;
}

.aside-block {
   position: absolute;
   width: 10px;
   height: 35px;
   margin-left: -15px;
   background: #e4cfd2;
}

.text-bold {
   font-weight: bold;
}

.text2 {
   padding-top: 40px;
}

.numbers-text {
   padding-top: 40px;
}

.numbers-text {
   display: flex;
   flex-direction: column;
}

.num {
   display: flex;
   padding-top: 10px;
   text-align: center;

}

.num div {
   width: 50px;
   height: 50px;
   line-height: 50px;
   color: #ffe5e5;
   background: #39a493;
}

.text-num-main {
   font-family: 'Roboto', sans-serif;
   font-size: 18px;
   font-weight: bold;
   text-transform: uppercase;
}

.text-num-sub {
   font-family: 'Roboto', sans-serif;
   font-size: 16px;
   color: #7d7e8c;
}

.text-num {
   padding-top: 10px;
}

.social-links {
   display: flex;
   padding-top: 60px;
   width: 250px;

}

.social-links a {
   margin-right: 10px;
   background: #c8cdd0;
}

.social-links a:hover {
   background: #6a6e70;
}

.team {
   min-height: 650px;
   padding-top: 85px;
   padding-bottom: 100px;

}

.photo-name {
   padding-top: 20px;
   text-align: center;
}

.name-position {
   margin: -5px auto;
   width: 263px;
   min-height: 60px;
   text-align: left;
   padding-left: 10px;
   padding-top: 10px;
   background: #e1e6ea;
}

.foto-team {
   margin-top: 20px;
}

.members {
   position: relative;
}

[class*="photo-name"]:hover .name-position span {
   color: white;
}

[class*="photo-name"]:hover .name-position {
   background-color: #3a454d;
   color: white;
}

[class*="photo-name"]:hover .foto-team {
   background-color: grey;
   opacity: 0.4;
}

.social-member {
   position: absolute;
   width: 150px;
   top: 150px;
   left: 50%;
   transform: translate(-50%);
   height: 50px;
   display: flex;
   align-items: center;
   justify-content: center;
}

.social-member button {
   background-color: #3a454d;
   width: 50px;
   height: 50px;
   border: none;
   margin-right: 1px;
   display: none;
}

.social-member button:last-child {
   margin: 0;
}


[class*="photo-name"]:hover .social-member>button {
   display: block;
}

.social-member button:hover {
   background-color: #4e5a62;
   cursor: pointer;
}

.twitter {
   background-image: url(../icons/twi.png);
   background-repeat: no-repeat;
   background-position: center;
   background-size: 75%;
}

.facebook {
   background-image: url(../icons/facebook-icon.png);
   background-repeat: no-repeat;
   background-position: center;
   background-size: 75%;
}

.in {
   background-image: url(../icons/in.png);
   background-repeat: no-repeat;
   background-position: center;
   background-size: 75%;
}

.lovely-work {
   min-height: 900px;
   padding-top: 85px;
   padding-bottom: 60px;
   background: #3a454d;
}

.work-block {
   padding-top: 60px;
}

.portfolio {
   padding-top: 30px;

}

.portfolio img {
   width: 100%;
   opacity: 1;
}

.lovwork {
   margin-bottom: 30px;
}

.lovwork:hover .portfolio>a {
   background-color: #3a454d;
   opacity: 0.5;
}

.portfolio {
   text-align: center;
   position: relative;
}

.work-item-description {
   text-align: left;
   opacity: 0;
   position: absolute;
   bottom: 0px;
   width: 100%;
   padding-left: 20px;
   line-height: 60px;
   border: 1px solid #292f36;
   background-color: #292f36;
   font-family: 'Quattrocento Sans', sans-serif;
   font-size: 18px;
   font-weight: bold;
   color: white;
}

.portfolio:hover .work-item-description {
   opacity: 1;
}

.work-item-button {
   opacity: 0;
   display: block;
   width: 25px;
   height: 25px;
   position: absolute;
   top: 50%;
   left: 0;
   right: 0;
   margin: 0 auto;
   background: none;
   background-image: url(../icons/plus.png);
   background-repeat: no-repeat;
   background-size: 250%;
   background-position: center;
   border: none;
   cursor: pointer;
}

.work-item-button:focus {
   outline: none;
   background-size: 150%;

}

.portfolio:hover .work-item-button {
   opacity: 1;
}

.map-google {
   margin-top: 50px;
}



.container-btn-work {
   display: flex;
   justify-content: center;
   padding-top: 50px;

}

.work-btn {
   width: 145px;
   height: 45px;
   margin-right: 15px;
   background: none;
   border: 2px solid white;
   border-radius: 5px;
   font-size: 14px;
   color: #fff;
   text-transform: uppercase;
   cursor: pointer;
}

.work-btn:hover {
   background: #39a493;
   border: 4px solid #39a493;
}

.services {
   min-height: 895px;
   padding-top: 85px;
   padding-bottom: 165px;
}

.services-block {
   padding-top: 95px;
}

.services-img {
   display: block;
   margin: 0 auto;
   padding-top: 30px;
}

.main-serv-text {
   margin-top: 30px;
   font-size: 17px;
   font-family: 'Roboto', sans-serif;
   text-transform: uppercase;
   font-weight: bold;
   text-align: center;
   color: #3f2a30;
}

.sub-serv-text {
   margin-top: 30px;
   font-size: 16px;
   font-family: 'Roboto', sans-serif;
   text-align: center;
   color: #b0b1b3;
}

.features {
   padding-top: 90px;
   padding-bottom: 120px;
   background: #3a454d;
}

.features-img {
   display: block;
   width: 100%;
   padding-top: 30px;

}

.main-features-text {
   padding-top: 40px;
   font-family: 'Roboto', sans-serif;
   font-size: 18px;
   color: #fff;
   text-transform: uppercase;
}

.sub-features-text {
   padding-top: 30px;
   max-width: 280px;
   font-family: 'Roboto', sans-serif;
   font-size: 16px;
   line-height: 24px;
   color: #b8bec2;
}

.stay {
   padding-top: 70px;
   padding-bottom: 100px;
}

.map {
   width: 100%;
   padding-top: 40px;
}

textarea {
   resize: none;
}

.stay-main-text {
   padding-top: 60px;
   font-size: 20px;
   font-family: 'Roboto', sans-serif;
   color: #000;
   text-transform: uppercase;
}

.text-fierst {
   padding-top: 30px;
   font-family: 'Roboto', sans-serif;
   font-size: 16px;
   line-height: 24px;
   color: #b8bec2;
}

.text-second {
   padding-top: 30px;
   font-family: 'Roboto', sans-serif;
   font-size: 16px;
   line-height: 24px;
   color: #b8bec2;
}

.text-second span {
   font-weight: bold;
   color: #8d8f92;
}

.contact-form {
   padding-top: 30px;
}

.name-f {
   background: #eaeef1;
   text-align: center;
   width: 240px;
   height: 43px;
   border: none;
   border-radius: 5px;
   cursor: pointer;
}

.email-f {
   margin-top: 20px;
   background: #eaeef1;
   text-align: center;
   width: 240px;
   height: 43px;
   border: none;
   border-radius: 5px;
}

.message-f {
   margin-top: 20px;
   padding-top: 10px;
   background: #eaeef1;
   text-align: center;
   width: 240px;
   height: 143px;
   border: none;
   border-radius: 5px;
}

.stay-btn {
   margin-top: 20px;
   width: 145px;
   height: 45px;
   margin-right: 15px;
   background: #eaeef1;
   border: 4px solid white;
   border-radius: 5px;
   font-size: 14px;
   color: #000;
   text-transform: uppercase;
   cursor: pointer;
}

.stay-btn:hover {
   background: #39a493;
   border: 4px solid #39a493;
   color: #fff;
}

footer {
   background: #3a454d;
   padding-top: 20px;
   padding-bottom: 20px;
}

.copyright {
   font-size: 12px;
   color: #fff;
}

.links-footer {
   padding-top: 20px;
}


.modal {
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   position: fixed;
   background-color: rgba(0, 0, 0, 0.5);
   z-index: 100;
   display: none;
}

.modal-block {
   width: 300px;
   margin: 80px auto;
   height: 200px;
   border: 1px solid grey;
   background-color: #fff;
   padding: 15px;

}

.form-fields {
   margin: 10px 0;
}

.form-fields input {
   width: 100%;
   height: 30px;
   padding: 5px;
}

.btn-close {
   cursor: pointer;
   text-align: right;
   position: absolute;
   top: 0;
   right: 0;
}

form {
   position: relative;
   padding-top: 20px;
}

.hide {
   display: none;
}

.show {
   display: block;
}





@media(min-width:768px) {
   .headen-logo {
      width: 100%;
   }

   .not-hidden {
      display: inline-block;
      position: relative;
   }

   .not-hidden-sr::before {
      content: "";
      display: block;
      position: absolute;
      background-image: url(../icons/icon-search.png);
      width: 50px;
      height: 50px;
      left: 59%;
      bottom: -40%;

   }

   .header-links {
      display: flex;
      justify-content: space-between;
   }

   .header-links a {
      color: #a4aead;
      text-decoration: none;
      border: 1px solid #a4aead;
      padding: 3px;
      text-align: center;
      width: 13%;
   }

   .header-links a:hover {
      color: #399e8e;
      border: 1px solid #399e8e;
      padding: 3px;
      text-align: center;
      width: 13%;
   }

   .header-search {
      display: block;
      width: 100%;
      padding: 4px;
      text-align: left;
      color: #a4aead;
      background-color: transparent;
      border: 2px solid #3c4147;
      /* text-transform: uppercase; */
   }

   .text-subline-md {
      max-width: 506px;
   }

   .numbers-text {
      display: flex;
      flex-direction: row;
   }

   .text-num-sub {
      margin-top: 10px;
   }

   .text-num-sub-3 {
      margin-top: 30px;
   }

   .portf-work {
      display: flex;
      justify-content: space-between;
   }

   .text-fierst {
      width: 500px;
   }

   .text-second {
      width: 500px;
   }

   .message-f {
      width: 484px;
   }

   .copyright {
      text-align: left;
      padding-top: 20px;
   }

   .links-f {
      display: flex;
      justify-content: flex-end;
   }

}

@media(min-width:992px) {
   .not-hidden-sr::before {
      content: "";
      left: 70%;
      bottom: -28%;
   }

   .text-subline {
      width: 700px;
      padding-top: 40px;
   }

   div.text1 {
      width: 600px;
      line-height: 25px;
      margin-right: 20px;
   }

   div.text2 {
      width: 600px;
      line-height: 25px;
      margin-right: 20px;
   }

   .together {
      display: flex;

   }

   .fierst {
      display: flex;
   }

   .second {
      display: flex;
   }

   .third {
      display: flex;
   }

   .text-num-sub {
      width: 350px;
   }

   .text-num {
      margin-left: 15px;
   }

   .text-num-sub-3 {
      margin-top: 10px;
   }

   .services-parth {
      margin-top: 90px;
   }

   .links-f {
      display: flex;
      justify-content: flex-end;
   }
}

@media(min-width:1200px) {
   .not-hidden-sr::before {
      content: "";
      left: 75%;
      bottom: -5%;
   }

   .members {
      position: relative;
   }

   [class*="photo-name"]:hover .name-position span {
      color: white;
   }

   [class*="photo-name"]:hover .name-position {
      background-color: #3a454d;
      color: white;
   }

   [class*="photo-name"]:hover .foto-team {
      background-color: grey;
      opacity: 0.4;
   }

   .social-member {
      position: absolute;
      width: 263px;
      top: 50px;
      height: 300px;
      display: flex;
      align-items: center;
      justify-content: center;
   }

   .social-member button {
      background-color: #3a454d;
      width: 50px;
      height: 50px;
      border: none;
      margin-right: 1px;
      display: none;
   }

   .social-member button:last-child {
      margin: 0;
   }


   [class*="photo-name"]:hover .social-member>button {
      display: block;
   }

   .social-member button:hover {
      background-color: #4e5a62;
      cursor: pointer;
   }

   .twitter {
      background-image: url(../icons/twi.png);
      background-repeat: no-repeat;
      background-position: center;
      background-size: 75%;
   }

   .facebook {
      background-image: url(../icons/facebook-icon.png);
      background-repeat: no-repeat;
      background-position: center;
      background-size: 75%;
   }

   .in {
      background-image: url(../icons/in.png);
      background-repeat: no-repeat;
      background-position: center;
      background-size: 75%;
   }

   .lovwork {
      margin-bottom: 30px;
   }

   .lovwork:hover .portfolio>a {
      background-color: #3a454d;
      opacity: 0.5;
   }

   .portfolio {
      text-align: center;
      position: relative;
   }

   .work-item-description {
      text-align: left;
      opacity: 0;
      position: absolute;
      bottom: 0px;
      width: 100%;
      padding-left: 20px;
      line-height: 60px;
      border: 1px solid #292f36;
      background-color: #292f36;
      font-family: 'Quattrocento Sans', sans-serif;
      font-size: 18px;
      font-weight: bold;
      color: white;
   }

   .portfolio:hover .work-item-description {
      opacity: 1;
   }

   .work-item-button {
      opacity: 0;
      display: block;
      width: 25px;
      height: 25px;
      position: absolute;
      top: 50%;
      left: 0;
      right: 0;
      margin: 0 auto;
      background: none;
      background-image: url(../icons/plus.png);
      background-repeat: no-repeat;
      background-size: 250%;
      background-position: center;
      border: none;
      cursor: pointer;
   }

   .work-item-button:focus {
      outline: none;
      background-size: 150%;

   }

   .portfolio:hover .work-item-button {
      opacity: 1;
   }

   .map-google {
      margin-top: 50px;
   }

}

@media(min-width:1400px) {
   .not-hidden-sr::before {
      content: "";
      left: 78%;
      bottom: 10%;
   }
}

/* mobile menu */

@media(max-width:767px) {

   .nav-mobile-menu {
      width: 15px;
      height: 15px;
      position: relative;
   }

   .nav-mobile-menu span {
      height: 1px;
      background-color: white;
      position: absolute;
      left: 0;
      right: 0;
      transition: all 0.25s;
   }

   .nav-mobile-menu span:nth-child(1) {
      top: 3px;
   }

   .nav-mobile-menu span:nth-child(2) {
      top: 7px;
   }

   .nav-mobile-menu span:nth-child(3) {
      bottom: 3px;
   }

   .hidden-menu {
      opacity: 0;
      visibility: hidden;
   }

   .nav-menu {
      position: fixed;
      width: 100%;
      right: 10px;
   }

   .navigation {
      width: 100%;
      height: 310px;
      right: 10px;
      top: 0;
      right: 0;
      bottom: 0;
      position: fixed;
      transform: translate(ty, 150%);
      transition: all 0.10s ease-in-out;
   }

   .nav-mobile-menu.active-menu span:nth-child(1) {
      top: 7px;
      transform: rotate(45deg);
   }

   .nav-mobile-menu.active-menu span:nth-child(2) {
      transform: rotate(-45deg);
   }

   .nav-mobile-menu.active-menu span:nth-child(3) {
      bottom: 3px;
      transform: scale(0);
   }

   .navigation.active-menu {
      width: 100%;
      height: 310px;
      right: 10px;
      opacity: 1;
      visibility: visible;
      transform: translate(ty, 0);
      top: 93px;
      padding: 25px;
      background-color: #000;
      z-index: 100;
      flex-direction: column;
      display: flex;
   }

   .header-links a {
      display: block;
      margin-top: 20px;
      list-style: none;
      text-decoration: none;
      color: white;
      text-align: center;
   }

   .header-links a:hover {
      color: silver;
   }

}